<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">

		<!--system.web>
			<compilation debug="true" targetFramework="net5.0" />
			<httpRuntime targetFramework="net5.0" />
		</system.web-->

		<system.applicationHost>

			<applicationPools>
				<add name="SolarWinds" autoStart="true" />
				<!-- managedRuntimeVersion="v4.0"  startMode="AlwaysRunning" idleTimeout="00:00:00" doAppInitAfterRestart="true" -->

				<add name="pool111624669" autoStart="true" />

				<add name="111624669" autoStart="true" />

				<add name="DefaultAppPool" autoStart="true" />
			</applicationPools>


		</system.applicationHost>

		<system.webServer>


			<!--applicationPools>
				<add name="pool111624669" managedRuntimeVersion="v4.0" autoStart="true" startMode="AlwaysRunning" idleTimeout="00:00:00" doAppInitAfterRestart="true" />
			</applicationPools-->

			<applicationInitialization>
				<add initializationPage="/" />
			</applicationInitialization>

			<!--applicationInitialization doAppInitAfterRestart="true" remapManagedRequestsTo="Startup.htm" skipManagedModules="true">
				<add initializationPage="/NombreDeTuAplicacion" hostName="NombreDeTuAplicacion" />
			</applicationInitialization-->

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<!--add name="httpPlatformHandler" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" /-->
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\DeepSignals.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess"  />


		</system.webServer>

	</location>
</configuration>
<!--ProjectGuid: ec0bc6e3-707a-4a3a-a8c9-03e265b312e8-->


<!--

DeepSignals

.NET v2.0
.NET v2.0 Classic
.NET v4.5
.NET v4.5 Classic
Classic .NET AppPool
DefaultAppPool


IIS AppPool\DefaultAppPool

-->